@import "include/common";

.keyboard {
    $white_width: 40px;
    $black_width: 35px;

    @include border_box;
    @include unselectable;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $keyboard_height;
    background: #D6D6D6;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-top: 2px solid $border_color;

    .key_wrapper {
        position: relative;
        height: 100%;
    }

    .key.labeled {
        &:before {
            content: attr(data-note);
            position: absolute;
            bottom: 20%;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 14px;
            color: #999;
        }
    }

    .key.black {
        position: absolute;
        width: $black_width;
        left: 0;
        top: 0;
        margin-left: -($black_width / 2);
        border-radius: 0 0 8px 8px;
        bottom: 40%;
        background: #333;
        z-index: 3;
        box-shadow: inset 0 -15px 0 rgba(0,0,0, 0.3), inset 0 -17px 0 rgba(255,255,255,0.07);
        // darken(#333, 5%)
        // lighten(#333, 5%)

        &:hover {
            background: lighten(#333, 5%);
        }

        &:active, &.held {
            background: darken(#333, 3%);
            box-shadow: inset 0 -10px 0 rgba(0,0,0, 0.3), inset 0 -12px 0 rgba(255,255,255,0.07);
        }
    }

    .key.white {
        background: white;
        width: $white_width;
        height: calc(100% - 10px);
        margin: 0 1px;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 0 0 2px #666, inset 0 -15px 0 rgba(0,0,0, 0.1), inset 0 5px 10px -5px rgba(0,0,0,0.2);
        z-index: 1;

        &:hover {
            background: #f3f3f3;
        }

        &:active, &.held {
            background: darken(#f3f3f3, 5%);
            box-shadow: 0 0 0 2px #666, inset 0 -10px 0 rgba(0,0,0, 0.1), inset 0 5px 10px -5px rgba(0,0,0,0.2);
        }
    }
}

