@import "include/common";

body {
    color: #333;
    background: #e7e7e7;
    font-family: 'Raleway', sans-serif;
}

.workspace {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: $keyboard_height;

    .workspace_wrapper {
        flex: 1;
        max-width: 800px;
    }

    h1 {
        font-size: 28px;
        margin: 0;
        margin-top: 13px;
    }

    .header {
        overflow: hidden;
    }

    .stats {
        float: right;
    }

    .stat_container {
        display: inline-block;
        vertical-align: top;
        text-align: right;
        margin-left: 15px;
        border-left: 1px solid lighten($border_color, 20%);
        padding: 5px 0 5px 15px;

        &:first-child {
            border-left: 0;
        }

        .value {
            font-size: 22px;
            margin-bottom: 4px;
        }

        .label {
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            color: #999;
        }
    }
}

.input_picker {
    color: #666;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.staff_wrapper {
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    border: 2px solid $border_color;
    margin: 20px 0;
    padding: 15px 0 10px 40px;
    overflow: hidden;
}

@keyframes shake {
    from, 100% {
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0);
    }
}

.shake {
    animation-name: shake;
    animation-duration: 0.5s;
}


