@import "include/common";

.slider_component {
    display: inline-block;
    box-sizing: border-box;
    min-width: 100px;
    position: relative;
    padding: 5px 10px;

    &.disabled {
        opacity: 0.5;
        .slider_nub {
            cursor: default;
        }
    }

    .slider_track {
        background: rgba(black, 0.3);
        height: 4px;
        border-radius: 4px;
        position: relative;
    }

    .slider_nub {
        position: absolute;
        padding: 0;
        width: 12px;
        height: 12px;
        border-radius: 12px;
        box-shadow: 0 0 0 2px white;

        margin-top: -6px;
        margin-left: -6px;

        top: 50%;
        left: 50%;

        &:focus {
            box-shadow: 0 0 0 2px mix(white, $blue, 80%);
        }
    }
}
