@import "include/common";

.grand_staff {
    .staff {
        &:first-child {
            margin-bottom: 70px;
        }
    }
}

.staff {
    position: relative;
    height: $line_spacing * 4;
    border-left: 6px solid black;
    margin: $line_spacing*2 0 $line_spacing*2 0;

    &.g_staff {
        .cleff {
            position: absolute;
            left: 14px;
            height: 165%;
            top: -28%;
        }

        // .note {
        //     -webkit-filter: #{"invert()"} sepia() saturate(8000%) hue-rotate(20deg);
        // }
    }

    &.f_staff {
        .cleff {
            position: absolute;
            left: 8px;
            height: 82%;
        }

        // .note {
        //     -webkit-filter: #{"invert()"} sepia() saturate(8000%) hue-rotate(80deg);
        // }
    }

    .ledger_line {
        position: absolute;
        height: 2px;
        background: black;;
    }

    .lines {
        .line {
            height: 2px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: black;
        }

        .line2 {
            top: percentage(1.0/4.0);
        }

        .line3 {
            top: percentage(2.0/4.0);
        }

        .line4 {
            top: percentage(3.0/4.0);
        }

        .line5 {
            top: auto;
            bottom: 0;
        }
    }

    .key_signature {
        position: absolute;
        left: 100px;
        top: 0;
        bottom: 0;

        .accidental {
            position: absolute;
            top: 0;

            &.sharp {
                height: 78%;
                transform: translate(0, -50%);
            }

            &.flat {
                height: 50%;
                transform: translate(-44%, -71%);
            }
        }
    }

    .notes {
        position: absolute;
        top: 0;
        left: 120px;
        right: 0;
        bottom: 0;

        .accidental {
            height: 100%;
            position: absolute;
            right: 110%;

            &.sharp {
                height: 300%;
                top: -100%;
            }

            &.flat {
                height: 200%;
                top: -91%;
            }

            &.natural {
                height: 300%;
                top: -100%;
                right: 115%;
            }
        }

        .note {
            position: absolute;
            top: 0;
            left: 120px;
            height: 20%;
            transform: translate(0, -47%);
            transition: 0.1s ease transform;

            .primary {
                height: 100%;
            }

            &.held {
                opacity: 0.2;
                transform: scale3d(1.1, 1.1, 1) translate(0, -47%);
            }
        }
    }

}

