@import "include/common";

.staff {
    position: relative;
    height: 140px;
    border-left: 6px solid black;
    margin: 45px 0 60px 0;

    &.g_staff {
        .cleff {
            position: absolute;
            left: 14px;
            height: 165%;
            top: -28%;
        }
    }

    &.f_staff {
        .cleff {
            position: absolute;
            left: 8px;
            height: 82%;
        }
    }

    .lines {
        .line {
            height: 2px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: black;
        }

        .line2 {
            top: percentage(1.0/4.0);
        }

        .line3 {
            top: percentage(2.0/4.0);
        }

        .line4 {
            top: percentage(3.0/4.0);
        }

        .line5 {
            top: auto;
            bottom: 0;
        }
    }

    .notes {
        position: absolute;
        top: 0;
        left: 120px;
        right: 0;
        bottom: 0;

        .note {
            position: absolute;
            top: 0;
            left: 120px;
            height: 20%;
            transform: translate(0, -47%);
            transition: 0.1s ease transform;

            &.held {
                opacity: 0.2;
            }

            &.held {
                transform: scale3d(1.1, 1.1, 1);
            }
        }
    }

}

