
$border_color: darken(#dadada, 5%);

body {
    color: #333;
    background: #e7e7e7;
    font-family: 'Raleway', sans-serif;
}

.page_container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 80px;

    h1 {
        font-size: 28px;
        margin: 0;
        margin-top: 13px;
    }

    .header {
        overflow: hidden;
    }

    .stats {
        float: right;
    }

    .stat_container {
        display: inline-block;
        vertical-align: top;
        text-align: right;
        margin-left: 15px;
        border-left: 1px solid $border_color;
        padding: 5px 0 5px 15px;

        &:first-child {
            border-left: 0;
        }

        .value {
            font-size: 22px;
            margin-bottom: 4px;
        }

        .label {
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            color: #999;
        }
    }
}

.input_picker {
    color: #666;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.staff_wrapper {
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    border: 1px solid $border_color;
    margin: 20px 0;
    padding: 15px 0 10px 40px;
    overflow: hidden;
}

.staff {
    position: relative;
    height: 140px;
    border-left: 6px solid black;
    margin: 45px 0 60px 0;

    .ledger_lines {
        .ledger {
            height: 2px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: black;
        }

        .ledger2 {
            top: percentage(1.0/4.0);
        }

        .ledger3 {
            top: percentage(2.0/4.0);
        }

        .ledger4 {
            top: percentage(3.0/4.0);
        }

        .ledger5 {
            top: auto;
            bottom: 0;
        }
    }

    .notes {
        position: absolute;
        top: 0;
        left: 120px;
        right: 0;
        bottom: 0;

        .note {
            position: absolute;
            top: 0;
            left: 120px;
            height: 20%;
            margin-top: -13px;
            transition: 0.1s ease transform;

            &.ghost {
                opacity: 0.2;
            }

            &.held {
                transform: scale3d(1.1, 1.1, 1);
            }
        }
    }

    .g_cleff {
        position: absolute;
        left: 10px;
        height: 165%;
        top: -28%;
    }
}

@keyframes shake {
    from, 100% {
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0);
    }
}

.shake {
    animation-name: shake;
    animation-duration: 0.5s;
}

