.melody_recognition_exercise {
    .auto_player {
    }

    .interval_settings {
        margin: 20px 0;

        .enabled_intervals {
            padding: 10px;
        }

        ul {
            list-style: none;
            margin: 0 0 20px 0;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            grid-gap: 10px;
            align-items: start;

            padding: 0;

            li {
                padding: 0;
                margin: 0;
            }
        }
    }

    .autoplay_options {
        padding: 10px;

        input[type=checkbox] {
            margin: 0 10px 0 0;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            > li {
                font-size: 15px;
                margin-bottom: 15px;
                label {
                    display: flex;
                    align-items: center;
                    > * {
                        margin-right: 10px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

    }

    .song_selector {
        .global_controls {
            display: flex;
            align-items: center;

            > * {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }

            @media (max-width: 600px) {
                align-items: stretch;
                flex-direction: column;

                > * {
                    margin: 0;
                    margin-bottom: 10px;

                    &:last-child {
                        margin: 0;
                    }
                }
            }


        }

        .current_song {
            margin-top: 20px;
            background: color-mix(in oklab, var(--body-background), white 50%);
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            > p {
                margin: 0;
            }

            .song_title {
                font-weight: bold;
                font-size: 18px;
            }

            .song_controls {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
}

.page_container {
    margin-top: 20px;
    margin-bottom: 20px;
}
