.stat_container {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin-left: 15px;
    border-left: 1px solid color-mix(in oklab, var(--border-color), white 20%);
    padding: 5px 0 5px 15px;

    &:first-child {
        border-left: 0;
    }

    .value {
        font-size: 22px;
        margin-bottom: 4px;
    }

    .label {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: #999;
    }
}
