@mixin on_narrow_width {
    @media (max-width: 1100px) {
        @content;
    }
}

@mixin on_very_narrow_width {
    @media (max-width: 800px) {
        @content;
    }
}

@mixin single_line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
