.songs_page {
    .sidebar {
        .new_song_button {
            display: block;
            text-align: center;
        }
    }

    .content_column {
        padding: 20px;

        > section {
            h2 {
                margin-top: 0;
            }

            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .song_cell {
        background: white;
        padding: 10px;

        .publish_status {
            float: right;
            background: #ddd;
            font-size: 12px;
            font-weight: bold;
            border-radius: 4px;
            padding: 3px 6px;
            margin-left: 5px;
            color: color-mix(in srgb, var(--body-color), transparent 20%);
        }

        .song_title {
            font-size: 20px;
            a {
                color: #55556b;
                text-decoration: none;
            }
            margin-bottom: 5px;
        }

        .time_played {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .song_creator {
            opacity: 0.8;
            margin-bottom: 8px;
        }

        .song_stats {
            display: flex;
            font-size: 14px;
            opacity: 0.5;
            justify-content: space-between;
        }
    }

    .song_cell_list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;

        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

.page_container {
    align-self: flex-start;
}
