@import "include/common";

.ear_training_page {
    @media (min-width: 900px) {
        .toggle_sidebar_button {
            display: none;
        }
    }

    .exercise_header {
        padding: 20px;
        display: flex;
        align-items: center;

        .toggle_sidebar_button {
            margin-right: 10px;
        }


        @media (max-width: 900px) {
            padding-bottom: 0;
        }

        > .exercise_label {
            @include single_line;
            font-size: 1.5em;
            margin: 0;

            @media (max-width: 900px) {
                font-size: 1.2em;
            }
        }
    }

    .warning {
        color: $error_color;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .choose_device {
        h3 {
            margin-top: 0;
        }
    }

    .melody_recognition_exercise {
        .page_container {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .interval_settings {
            margin: 20px 0;

            fieldset {
                padding: 10px;
            }

            ul {
                list-style: none;
                margin: 0 0 20px 0;

                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                grid-gap: 10px;
                align-items: start;

                padding: 0;

                li {
                    padding: 0;
                    margin: 0;
                }
            }
        }

        .autoplay_options {
            padding: 10px;

            input[type=checkbox] {
                margin: 0 10px 0 0;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                > li {
                    font-size: 15px;
                    margin-bottom: 15px;
                    label {
                        display: flex;
                        align-items: center;
                        > * {
                            margin-right: 10px;

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

        }

        .song_selector {
            .global_controls {
                display: flex;
                align-items: center;

                > * {
                    margin-right: 10px;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                @media (max-width: 600px) {
                    align-items: stretch;
                    flex-direction: column;

                    > * {
                        margin: 0;
                        margin-bottom: 10px;

                        &:last-child {
                            margin: 0;
                        }
                    }
                }


                .slider_group {
                    flex: 1;
                    border: 1px solid $border_color;
                    border-radius: 3px;
                    display: flex;

                    > * {
                        padding: 5px 3px;
                        display: flex;
                        align-items: center;
                    }

                    > span {
                        font-size: 14px;
                        font-weight: bold;
                    }

                    code {
                        min-width: 30px;
                        text-align: center;
                    }

                    > .shuffle_button {
                        padding: 2px 8px;
                        border: 0;
                        border-radius: 0;
                        font-size: 12px;
                    }

                    > .slider_component {
                        flex: 1;
                        .slider_track {
                            flex: 1;
                        }
                    }
                }
            }

            .current_song {
                margin-top: 20px;
                background: mix(white, $body_background, 50%);
                padding: 10px;

                .song_title {
                    margin-bottom: 10px;
                    font-weight: bold;
                    font-size: 18px;
                }

                .song_controls {
                    display: flex;
                    align-items: center;

                    > * {
                        margin-right: 10px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    .melody_playback_exercise {
        min-height: 100%;
        display: flex;
        flex-direction: column;

        details.instructions {
            margin-bottom: 10px;
            summary {
                display: inline;
                cursor: pointer;
                font-weight: bold;
            }
        }

        .keyboard {
            margin-top: auto;
            position: static;
        }

        .page_container {
            margin-top: 20px;
            margin-bottom: 20px;

            > p:first-child {
                margin-top: 0;
            }
        }

        .stat_controls {
            display: flex;
            align-items: center;
            > * {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }

            > .stats_row {
                flex: 1;
                text-align: right;
            }
        }

        fieldset {
            margin-top: 20px;
            > .spacer {
                flex: 1;
            }
        }

        .slider_component {
            display: block;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    fieldset {
        border: 1px solid #ddd;
        legend {
            font-size: 13px;
            font-weight: bold;
            text-transform: uppercase;
            color: #666;
        }
    }

    .range_picker {
        button  {
            margin-right: 10px;

            &.active {
                background-color: lighten($button_color, 10%);
                box-shadow: 0 0 0 2px darken($border_color, 20%);
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .confirm_buttons {
        display: flex;
        margin-top: 20px;

        .spacer {
            flex: 1;
        }
    }
}
