
.flash_card_page {
    .card_holder {
        text-align: center;
        margin: 40px 0;
    }

    .transition_group {
        position: relative;

        > .card_row {
            &:first-child {
                position: static;
            }

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
    }

    .flash_card {
        background: white;
        font-size: 80px;
        display: inline-block;
        padding: 80px 40px; 
        font-weight: bold;
        position: relative;

    }

    .card_row {
        $speed: 0.4s;
        &.show_card-enter {
            .flash_card {
                opacity: 0.5;
                transition: opacity $speed ease, transform $speed ease-out;
                transform: scale(0.8, 0.8);

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: black;
                    opacity: 0.5;
                    transition: opacity $speed ease;
                }
            }

            &.show_card-enter-active {
                .flash_card {
                    transform: scale(1,1);
                    opacity: 1;
                    &:before {
                        opacity: 0;
                    }
                }
            }
        }

        &.show_card-leave {
            .flash_card {
                transform: rotate(0);
                transition: all $speed ease-out;
                opacity: 1;
            }

            &.show_card-leave-active {
                .flash_card {
                    transform: translate(-100px, 50px) rotate(-40deg);
                    opacity: 0;
                }
            }
        }
    }

    .start_message {
        background: white;
        padding: 20px;
        margin: 40px auto;
        text-align: center;
        max-width: 400px;

    }

    .card_options {
        margin-top: 40px;

        button {
            margin-left: 15px;
            font-size: 18px;
            padding: 10px 20px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .test_groups {
        margin-top: 40px;
        display: flex;
        justify-content: center;

        > .test_group {
            margin: 0 10px;
            font-size: 16px;
            font-weight: bold;
            border: 1px solid rgba(black, 0.1);
            padding: 2px 8px;
            border-radius: 3px;
            color: #666;

            &.selected {
                background: white;
                border: 1px solid rgba(black, 0.3);
            }

            input {
                margin-right: 8px;
            }
        }
    }


}
