@import "include/common";

.toggle_sidebar_button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    > .svgicon {
        margin-right: 4px;
    }
}

// used on exercise pages, songs page
.has_sidebar {
    width: auto;
    max-width: none;
    display: flex;
    min-height: calc(100vh - #{$header_height});

    @media (max-width: 900px) {
        .sidebar {
            display: none;
        }

        &.sidebar_open {
            position: relative;
            display: block;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(black, 0.5);
                z-index: 10;
            }

            .sidebar {
                position: fixed;
                display: block;
                top: $header_height;
                left: 0;
                bottom: 0;
                z-index: 11;
                overflow-y: auto;
            }
        }
    }

    .content_column {
        flex: 1;
    }

    .sidebar {
        width: 250px;
        box-sizing: border-box;
        background: #EFEFEF;
        padding: 20px;

        .nav_header {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
        }

        nav {
            ul {
                list-style: none;
                padding: 0;
                margin: 20px 0;
            }

            li {
                margin-bottom: 8px;
                &:last-child {
                    margin-bottom: 0;
                }
            }

            a.active {
                text-decoration: none;
                font-weight: bold;
            }
        }
    }

}
