@import "include/common";

.intro_lightbox {
    .input_row {
        margin-top: 10px;
    }

    .midi_instrument_test_buttons {
        margin-top: 20px;
        > button {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

