@import "include/common";

.lightbox_shroud {
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(white, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    &.show_lightbox-enter {
        opacity: 0;
        transition: opacity 0.2s ease;

        .lightbox {
            transition: transform 0.2s ease-out;
            transform: translate(0, 10%);
        }

        &.show_lightbox-enter-active {
            opacity: 1;

            .lightbox {
                transform: translate(0, 0);
            }
        }
    }

    &.show_lightbox-leave {
        opacity: 1;
        transition: opacity 0.1s ease;

        &.show_lightbox-leave-active {
            opacity: 0;
        }
    }

    .lightbox {
        background: white;
        border: 1px solid lighten($border_color, 10%);
        border-radius: 6px;
        box-shadow: 0 0 20px rgba(black, 0.2);
        width: 600px;
        padding: 20px;

        @media (max-width: 600px) {
            box-sizing: border-box;
            width: 100%;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: auto;
            border-radius: 0;
            border: 0;
        }

        h2 {
            margin-top: 0;
            color: #444;
        }

        p {
            line-height: 1.5;
            &:last-child {
                margin-bottom: 0;
            }
        }

        .footer_buttons {
            margin-top: 20px;

            display: flex;
            .spacer {
                flex: 1;
            }
        }
    }
}

