@import "include/common";

body {
    color: #333;
    background: $body_background;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

button {
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    border: 0;
    background: $button_color;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
    border: 1px solid $button_color;
    cursor: pointer;


    &:focus {
        outline: none;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), 0 0 0 2px rgba(blue, 0.2);
    }

    &:hover {
        background: lighten(#727290, 2%);
    }

    &:disabled {
        background: desaturate($button_color, 100%);
        opacity: 0.8;
    }

    &.outline {
        background: white;
        color: darken($button_color, 10%);
    }
}

blockquote {
    background: #f7f7f7;
    padding: 1em;
    margin: 1em 0;

    > p {
        margin: 0;
        margin-bottom: 1em;
        color: #666;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.return_link {
    &:before {
        content: "â†";
        display: inline-block;
        margin-right: 5px;
        text-decoration: none;
    }
}

a {
    color: $button_color;
    &:hover {
        color: darken($button_color, 10%);
    }
}

form, .form {
    .form_buttons {
        margin-top: 32px;
    }

    .form_error {
        background: $error_color;
        color: white;
        padding: 15px 20px;
        margin-bottom: 20px;
    }

    button {
        font-size: 18px;
        padding: 10px 18px;
    }

    .input_row {
        margin-bottom: 15px;

        .label {
            color: #666;
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 14px;
            text-transform: uppercase;
        }

        input[type='text'], input[type='password'], input[type='email'] {
            @include border_box;
            border: 1px solid lighten($border_color, 10%);
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            padding: 8px 16px;
            width: 50%;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.page_container {
    background: white;
    margin: 60px auto;
    width: 600px;
    padding: 40px;

    @media (max-width: 640px) {
        margin: 0;
        width: auto;
        padding: 20px;
    }


    > h2 {
        margin-top: 0;
        font-size: 32px;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
    }

    > ul {
        font-size: 16px;
        line-height: 1.5;
        > li {
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.header_spacer {
    height: 50px;
}

.header {
    box-sizing: border-box;
    padding: 0 20px;
    height: 50px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    overflow-x: auto;

    display: flex;
    align-items: center;

    .right_section {
        text-align: right;
        flex: 1;
    }

    .logo, .logo_small {
        opacity: 0.7;
        margin-right: 10px;
        display: block;
    }

    .logo_small {
        display: none;
    }

    @media (max-width: 1200px) {
        .logo {
            display: none;
        }

        .logo_small {
            display: block;
        }
    }


    .settings_open & {
        button {
            visibility: hidden;
        }
    }

    h1 {
        margin: 0 20px 0 0;
        line-height: 15px;
        font-size: 22px;
        text-transform: uppercase;
        color: #444;
        a {
            color: inherit;
            text-decoration: none;
        }
    }

    > * {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    .logo_link {
        padding: 0;
    }

    > a, > .right_section {
        white-space: nowrap;
    }

    a {
        padding: 3px 6px;

        &:hover {
            color: $button_color;
        }

        &.active {
            font-weight: bold;
            text-decoration: none;
            background: #f6f6f6;
            color: darken($button_color, 8%);
            border-radius: 2px;
            box-shadow: 0 0 0 2px rgba(black, 0.1);
        }
    }
}

.sight_reading_page {
    background: $body_background;
    &.fullscreen {
        width: 100%;
        height: 100%;

        .workspace {
            top: 0;
        }

        .workspace_header {
            display: none;
        }

        .keyboard_toggle {
            display: none;
        }
    }
}

.workspace {
    display: flex;

    @include on_narrow_height {
        display: block;
    }

    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;

    .keyboard_open & {
        bottom: $keyboard_height;
        @include on_narrow_height {
            bottom: $keyboard_height_short;
        }

        @include on_very_narrow_height {
            bottom: $keyboard_height_very_short;
        }
    }

    .settings_open & {
        left: $settings_panel_width;
    }

    .workspace_wrapper {
        flex: 1;
        max-width: $default_width;
        @include on_narrow_width {
            max-width: none;
        }
    }

    h1 {
        font-size: 28px;
        margin: 0;
        margin-top: 13px;
        @include on_narrow_width {
            margin-top: 25px;
        }
    }

    .workspace_header{
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        > button {
            margin-right: 10px;
        }

        .stats {
            text-align: right;
            flex: 1
        }

        @include on_narrow_width {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .stats {
        @include on_narrow_width {
            margin-top: 20px;
        }
    }

}

.stat_container {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin-left: 15px;
    border-left: 1px solid lighten($border_color, 20%);
    padding: 5px 0 5px 15px;

    &:first-child {
        border-left: 0;
    }

    .value {
        font-size: 22px;
        margin-bottom: 4px;
    }

    .label {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: #999;
    }
}


.staff_wrapper {
    background: white;
    margin: 0 0 20px 0;
    padding: 15px 0 10px 40px;
    overflow: hidden;
    position: relative;

    @include on_narrow_width {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        padding-left: 20px;
    }

    .scroll_mode & {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: calc(50% - 60px);
            right: 0;
            width: 120px;
            background: #9fffb8;
        }
    }
}


.keyboard_toggle {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    right: 10px;
}

.github_link {
    opacity: 0.5;

    &:hover {
        opacity: 1.0;
    }

    img {
        width: 30px;
        height: 30px;
    }

    @include on_narrow_width {
        display: none;
    }
}


@keyframes noteshake {
    from, 100% {
        transform: translate(0, -47%);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translate(-7%, -47%);
    }

    20%, 40%, 60%, 80% {
        transform: translate(7%, -47%);
    }
}

.noteshake {
    animation-name: noteshake;
    animation-duration: 0.5s;
}

@keyframes errorshake {
    from, 100% {
        transform: translate(0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translate(-5%, 0);
    }

    20%, 40%, 60%, 80% {
        transform: translate(5%, 0);
    }
}

.errorshake {
    animation-name: errorshake;
    animation-duration: 0.5s;
}

.toolbar {
    text-align: right;
    margin: 20px 0;

    @include on_narrow_width {
        padding: 0 20px;
        margin-bottom: 40px;
    }

    .left_tools {
        float: left;
    }

    .tool {
        display: inline-block;

        .label {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            font-size: 14px;
            opacity: 0.8;
        }

        @media (max-width: 500px) {
            .speed_picker {
                display: flex;
                margin-top: 10px;
            }
        }
    }
}

.input_picker {
    color: #666;
    font-size: 14px;
    display: inline-block;
    margin-top: 3px;
}

.toggle_switch {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #333;
    border-radius: 4px;
    background: #333;
    position: relative;
    // box-shadow: inset 0 0 0 1px rgba(white, 0.8);
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    @include unselectable;
    overflow: hidden;

    &:before {
        position: absolute;
        content: "";
        width: 50%;
        left: 0;
        top: 0;
        bottom: 0;
        background: $button_color;
        z-index: 1;
        border-radius: 2px;
        transition: 0.1s ease all;
        box-shadow: inset 0 0 0 1px rgba(white, 0.2);
    }

    &.second {
        &:before {
            left: 50%;
            right: 2px;
        }

        .toggle_option {
            &:nth-child(1) {
                opacity: 0.5;
            }

            &:nth-child(2) {
                opacity: 1;
            }

        }
    }

    .toggle_option {
        &:nth-child(2) {
            opacity: 0.5;
        }

        display: inline-block;
        position: relative;
        z-index: 2;
        width: 60px;
        color: white;
        text-align: center;
        padding: 4px 10px;
    }
}

.midi_button {
    background: transparent;
    padding: 6px 8px;
    color: #666;
    font-size: 14px;
    cursor: pointer;

    > div {
        display: flex;
        align-items: center;
    }

    &:hover {
        opacity: 1.0;
    }

    img {
        opacity: 0.6;
        margin-right: 4px;
    }

    .current_input_name {
        @include single_line;
        flex: 1;
        min-width: 0;
        box-sizing: border-box;
        max-width: 150px;
        color: #444;
        font-weight: bold;
    }

    &:hover {
        background: lighten($body_background, 5%);
    }
}


