@import "../fonts/Raleway/stylesheet";

:root {
    --border-color: #a2a2a2;

    --upper-layer-z-index: 10;

    --keyboard-height: 180px;
    --keyboard-height-short: 120px;
    --keyboard-height-very-short: 90px;

    --button-color: #727290;
    --button-color-highlight: #e0e0e7;

    --default-width: 900px;
    --line-spacing: 30px;

    --body-background: #e7e7e7;
    --body-color: #333333;

    --settings-panel-width: 270px;

    --red: #fe4e50;
    --green: #aada80;
    --blue: #34a0f2;

    --error-color: #d14343;

    --header-height: 50px;
}

body {
    color: var(--body-color);
    background: var(--body-background);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:focus {
    outline-color: rgba(blue, 0.2);
}

button, .button {
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    border: 0;
    background: var(--button-color);
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
    border: 1px solid var(--button-color);
    cursor: pointer;
    text-decoration: none;

    &:focus {
        outline: none;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), 0 0 0 2px rgba(blue, 0.2);
    }

    &:hover {
        background: color-mix(in oklab, var(--button-color), white 2%);
        color: white;
    }

    &:disabled {
        background: color-mix(in oklab, var(--button-color), white 55%);
        opacity: 0.8;
        cursor: default;
    }

    &.outline {
        background: white;
        color: color-mix(in oklab, var(--button-color), black 10%);
    }

    &.big_button {
        font-size: 18px;
        padding: 10px 18px;
    }
}

blockquote {
    background: #f7f7f7;
    padding: 1em;
    margin: 1em 0;

    > p {
        margin: 0;
        margin-bottom: 1em;
        color: #666;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.return_link {
    &:before {
        content: "â†";
        display: inline-block;
        margin-right: 5px;
        text-decoration: none;
    }
}

a {
    color: var(--button-color);
    &:hover {
        color: color-mix(in oklab, var(--button-color), black 10%);
    }
}

form, .form {
    .form_buttons {
        margin-top: 32px;
    }

    .form_error {
        background: var(--error-color);
        color: white;
        padding: 15px 20px;
        margin-bottom: 20px;
    }


    .input_row {
        margin-bottom: 15px;

        .label {
            color: #666;
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 14px;
            text-transform: uppercase;
        }

        input[type='text'], input[type='password'], input[type='email'] {
            box-sizing: border-box;
            border: 1px solid color-mix(in oklab, var(--border-color), white 10%);
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            padding: 8px 16px;
            width: 50%;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.header_spacer {
    height: 50px;
}

.header {
    box-sizing: border-box;
    padding: 0 20px;
    height: 50px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: calc(var(--upper-layer-z-index) - 1);
    gap: 20px;

    width: 100%;

    display: flex;
    align-items: center;

    .user_links {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 20px;
        color: #666;

        > a, > .right_section {
            white-space: nowrap;
        }
    }

    .menu_toggle {
        position: relative;
        button {
            background: transparent;
            padding: 6px 8px;
            color: #666;
            font-size: 14px;
            cursor: pointer;

            > svg {
                fill: #333;
                margin-left: 3px;
                display: inline-block;
                vertical-align: 1px; 
            }
        }
        .menu_shroud {
            position: fixed; 
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(white, 0.8);
            z-index: 1;
        }

        .navigation_menu {
            z-index: 2;
        }
    }

    .navigation_menu {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 200px;
        background: white;
        margin-top: 10px;

        border: 1px solid color-mix(in oklab, var(--border-color), white 10%);
        border-radius: 4px;
        box-shadow: 0 0 20px rgba(black, 0.2);

        .midi_button_wrapper {
            padding: 8px 10px 5px 10px;
            display: flex;
            > button {
                flex: 1;
                text-align: left;
                display: block;
            }
        }

        .account_area {
            border-bottom: 1px solid color-mix(in oklab, var(--border-color), white 20%);
            display: flex;
            padding: 8px 10px;
            align-items: center;

            &.logged_in {
                > :first-child {
                    flex: 1;
                }

                .username {
                    min-width: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &.logged_out {
                > * {
                    flex: 1;
                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin: 8px 10px;

                a {
                    display: block;
                }
            }
        }
    }

    .right_section {
        text-align: right;
        flex: 1;
    }

    .logo, .logo_small {
        opacity: 0.7;
        display: block;
    }

    .logo_small {
        display: none;
    }

    @media (max-width: 1200px) {
        .logo {
            display: none;
        }

        .logo_small {
            display: block;
        }
    }


    .settings_open & {
        button {
            visibility: hidden;
        }
    }

    h1 {
        margin: 0 20px 0 0;
        line-height: 15px;
        font-size: 22px;
        text-transform: uppercase;
        color: #444;
        a {
            color: inherit;
            text-decoration: none;
        }
    }


    .logo_link {
        padding: 0;
    }

    a {
        padding: 3px 6px;
        font-weight: bold;
        text-decoration: none;
        color: #444;

        &:hover {
            color: var(--button-color);
        }

        &.active {
            font-weight: bold;
            text-decoration: none;
            background: #f6f6f6;
            color: color-mix(in oklab, var(--button-color), black 8%);
            border-radius: 2px;
            box-shadow: 0 0 0 2px rgba(black, 0.1);
        }
    }
}

.stat_container {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin-left: 15px;
    border-left: 1px solid color-mix(in oklab, var(--border-color), white 20%);
    padding: 5px 0 5px 15px;

    &:first-child {
        border-left: 0;
    }

    .value {
        font-size: 22px;
        margin-bottom: 4px;
    }

    .label {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: #999;
    }
}


.github_link {
    opacity: 0.5;

    &:hover {
        opacity: 1.0;
    }

    img {
        width: 30px;
        height: 30px;
    }

    @media (max-width: 1100px) {
        display: none;
    }
}


.midi_button {
    background: transparent;
    padding: 6px 8px;
    color: #666;
    font-size: 14px;
    cursor: pointer;

    > div {
        display: flex;
        align-items: center;
    }

    &:hover {
        opacity: 1.0;
    }

    img {
        opacity: 0.6;
        margin-right: 4px;
    }

    .current_input_name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1;
        min-width: 0;
        box-sizing: border-box;
        max-width: 150px;
        color: #444;
        font-weight: bold;
    }

    &:hover {
        background: color-mix(in oklab, var(--body-background), white 5%);
    }
}


.tabs_component {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid color-mix(in srgb, var(--button-color), transparent 20%);
    z-index: 0;

    > li {
        padding: 0;
        margin: 0 5px 0 0;

        &:last-child {
            margin-right: 0;
        }

        > button {
            color: color-mix(in oklab, var(--button-color), black 10%);
            border-color: color-mix(in srgb, var(--button-color), transparent 20%);
            border-bottom: 0;
            border-radius: 4px 4px 0 0;
            background: color-mix(in oklab, var(--button-color), white 90%);
            box-shadow: none;

            &.active {
                box-shadow: 0 1px 0 0 white;
                z-index: 1;
                background: white;
            }
        }
    }
}
