@import "include/common";

.midi_selector {
    background: white;
    border: 2px solid color-mix(in oklab, var(--border-color), white 20%);
    max-height: 200px;
    overflow-y: auto;

    .midi_input_row {
        padding: 6px 10px;
        display: flex;
        align-items: center;
        cursor: pointer;

        border: none;
        background: none;
        width: 100%;
        text-align: left;
        font: inherit;
        color: inherit;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:hover {
            background: #f5f5f5;
        }

        &:focus {
            outline: 2px solid rgba(blue, 0.2);
            outline-offset: -4px;
        }

        &:active {
            background: color-mix(in oklab, var(--button-color-highlight), black 5%);
        }

        &.selected {
            background: var(--button-color-highlight);
        }

        &.selected:focus {
            outline: 2px solid color-mix(in oklab, var(--button-color-highlight), black 20%);
        }

        .row_icon {
            width: 24px;
            opacity: 0.7;
            margin-right: 5px;
        }

        .input_name {
            @include single_line;
            flex: 1;
        }
    }
}
