
.midi_instrument_picker_component {
    .midi_options {
        margin-bottom: 15px;
        display: flex;

        .slider_component {
            margin: 0 10px;
            width: 200px;
        }

        .select_component {
            margin-left: 10px;
        }

        > * {
            margin-left: 30px;
            height: 26px;
            display: flex;
            align-items: center;

            &:first-child {
                margin-left: 0;
            }
        }

        @media (max-width: 600px) {
            flex-direction: column;
            > *  {
                margin-top: 10px;
                margin-left: 0;
            }
        }

    }
}
