@import "include/common";

.play_along_page {
    overflow: hidden;

    .play_along_workspace {
        > h2 {
            font-size: 20px;
            background: white;
            padding: 20px 20px 0 40px;
            margin: 0;
        }

        &.settings_open {
            margin-left: 250px;
        }
    }

    .transport_controls {
        display: flex;
        align-items: center;
        padding-right: 40px;

        > * {
            margin-left: 10px;

            &:first-child {
                margin-left: 0;
            }
        }

        .play_pause {
            min-width: 60px;
        }

        > button {
            height: 28px;
            .svgicon {
                fill: white;
            }
        }

        input[type=text] {
            margin-left: 10px;
            @include border_box;
            border: 1px solid lighten($border_color, 10%);
            font-family: 'Raleway', sans-serif;
            font-size: 13px;
            padding: 4px 4px;
            height: 28px;
            width: 45px;
            border-radius: 2px;
            text-align: center;
        }

        .loop_controls {
            margin-left: 20px;
            display: flex;
            align-items: center;

            .label_text {
                font-size: 13px;
                font-weight: bold;
                opacity: 0.8;
            }
        }

        .spacer {
            flex: 1
        }

        .transport_slider {
            width: 200px;
            height: 28px;
        }
    }

    &.has_song {
        .staff_wrapper {
            .song_error {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(white, 0.8);
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &:not(.has_song) {
        .song_error {
            padding: 20px 0 ;
        }
    }
}

.settings_panel .song_list {
    background: white;
    border: 2px solid rgba($border_color, 0.8);
    max-height: 200px;
    overflow-y: auto;

    ul {
        list-style: none;
        padding: 10px;
        margin: 0;

        button {
            display: block;
            width: 100%;
            background: transparent;
            border: 0;
            box-shadow: none;
            color: #444;
            text-align: left;
            border-radius: 0;

            &:hover {
                background: #f5f5f5;
            }

            &.selected {
                background: $button_color_highlight;
            }

            &:active {
                background: darken($button_color_highlight, 5%);
            }

        }
    }

}
