@import "include/common";

.play_along_page {
    overflow: hidden;

    .draggable {
        user-select: none;
        -webkit-user-drag: none;
        display: flex;
        flex-direction: column;
    }

    .keyboard {
        position: static;
    }

    .staff_wrapper {
        margin-bottom: 0;
    }

    .play_along_workspace {
        > h2 {
            font-size: 20px;
            background: white;
            padding: 20px 20px 0 40px;
            margin: 0;
        }

        &.settings_open {
            margin-left: 250px;
        }
    }

    .transport_controls {
        display: flex;
        align-items: center;
        padding-right: 40px;

        > * {
            margin-left: 10px;

            &:first-child {
                margin-left: 0;
            }
        }

        .play_pause {
            min-width: 60px;
        }

        > button {
            height: 28px;
            .svgicon {
                fill: white;
            }
        }

        input[type=text] {
            margin-left: 10px;
            @include border_box;
            border: 1px solid lighten($border_color, 10%);
            font-family: 'Raleway', sans-serif;
            font-size: 13px;
            padding: 4px 4px;
            height: 28px;
            width: 45px;
            border-radius: 2px;
            text-align: center;
        }

        .loop_controls {
            margin-left: 20px;
            display: flex;
            align-items: center;

            .label_text {
                font-size: 13px;
                font-weight: bold;
                opacity: 0.8;
            }
        }

        .spacer {
            flex: 1
        }

        .transport_slider {
            width: 200px;
            height: 28px;
        }
    }

    .song_tracks {
        background: white;
        margin: 0;
        padding: 20px 40px;
        display: flex;
        align-items: center;
        list-style: none;
        > * {
            margin-right: 10px;
            display: flex;
            align-items: center;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .empty_tracks {
        margin: 20px 0;
    }

    &.has_song {
        .staff_wrapper {
            .song_error {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(white, 0.8);
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &:not(.has_song) {
        .song_error {
            padding: 20px 0 ;
        }
    }

    .settings_panel {
        .slider_row {
            display: flex;
            .slider_component {
                flex: 1;
            }
        }
        label {
            display: block;
            margin: 0 10px 10px 10px;

            .input_label {
                font-size: 13px;
                color: #666;
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
    }
}

