@import "include/common";

.settings_panel {
    @include border_box;
    @include unselectable;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    bottom: 0;
    background: #D6D6D6;
    width: $settings_panel_width;
    border-right: 2px solid $border_color;

    &.slide_right-enter {
        opacity: 0;
        transform: translate(-20%, 0);
        transition: opacity 0.2s ease, transform 0.2s ease;

        &.slide_right-enter-active {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    &.slide_right-leave {
        opacity: 1;
        transition: opacity 0.1s ease;

        &.slide_right-leave-active {
            opacity: 0;
        }
    }

    .settings_header {
        margin-bottom: 15px;

        padding: 15px 20px;
        background: $border_color;
        color: white;

        h3 {
            margin: 0;
        }


        button {
            float: right;
        }
    }

    .generator_inputs {
        border: 1px solid $border_color;
        padding: 10px;
        background: rgba(white, 0.5);
    }

    .generator_input {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        .input_label {
            font-size: 13px;
            color: #666;
            font-weight: bold;
            margin-bottom: 2px;
        }

        .select_component {
            display: block;
        }

        .slider_row {
            height: 26px;
            display: flex;
            align-items: center;

            .slider_component {
                width: auto;
                flex: 1;
            }

            .current_value {
                width: 20px;
                text-align: center;
            }
        }

        .note_range_row {
            display: flex;
            margin-top: 5px;

            label {
                font-size: 12px;
                font-weight: bold;
                color: #666;
                display: flex;
                > *  {
                    margin-left: 5px;
                }
            }

            > * {
                flex-grow: 1;
                align-items: center;
                margin-left: 5px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    .settings_group {
        padding: 0 10px;
        margin-bottom: 20px;

        h4 {
            font-weight: bold;
            text-transform: uppercase;
            color: #666;
            font-size: 12px;
            margin: 0 10px;
            margin-bottom: 10px;
        }

        .toggle_option {
            @include border_box;
            display: inline-block;
            width: calc(50% - 10px);
            background: white;
            border: 1px solid $border_color;
            text-align: center;
            margin: 0 5px 5px 5px;
            color: #444;

            &.active {
                color: darken($button_color, 10%);
                background: mix(white, $button_color, 80%);
                border-color: $button_color;
                box-shadow: 0 0 0 1px $button_color;
                font-weight: bold;
            }
        }
    }
}


