@import "include/common";

.settings_panel {
    @include border_box;
    @include unselectable;
    display: flex;
    flex-direction: column;
    gap: 15px;

    position: fixed;
    overflow: auto;
    left: 0;
    top: var(--header-height);
    bottom: 0;
    background: #D6D6D6;
    width: var(--settings-panel-width);
    border-right: 2px solid var(--border-color);
    z-index: 1;

    &.slide_right-enter {
        opacity: 0;
        transform: translate(-20%, 0);
        transition: opacity 0.2s ease, transform 0.2s ease;

        &.slide_right-enter-active {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    &.slide_right-exit {
        opacity: 1;
        transition: opacity 0.1s ease;

        &.slide_right-exit-active {
            opacity: 0;
        }
    }

    .settings_header {
        padding: 15px 20px;
        background: var(--border-color);
        color: white;
        display: flex;
        align-items: center;

        h3 {
            margin: 0;
        }


        button {
            margin-left: auto;
        }
    }

    .button_group {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    }

    .toggle_option {
        background: white;
        border: 1px solid var(--border-color);
        color: #444;
        &.active {
            color: color-mix(in oklab, var(--button-color), black 10%);
            background: color-mix(in oklab, var(--button-color), white 80%);
            border-color: var(--button-color);
            box-shadow: 0 0 0 1px var(--button-color);
        }
    }

    .generator_inputs {
        border: 1px solid var(--border-color);
        padding: 10px;
        background: rgba(white, 0.5);
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .generator_input {
        .input_label {
            font-size: 13px;
            color: #666;
            font-weight: bold;
        }

        .select_component {
            display: block;
        }

        .slider_row {
            height: 26px;
            display: flex;
            align-items: center;

            .slider_component {
                width: auto;
                flex: 1;
            }

            .current_value {
                width: 20px;
                text-align: center;
            }
        }

        .note_range_row {
            display: flex;
            margin-top: 5px;

            label {
                font-size: 12px;
                font-weight: bold;
                color: #666;
                display: flex;
                > *  {
                    margin-left: 5px;
                }
            }

            > * {
                flex-grow: 1;
                align-items: center;
                margin-left: 5px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    .settings_group {
        padding: 0 10px;

        h4 {
            font-weight: bold;
            text-transform: uppercase;
            color: #666;
            font-size: 12px;
            margin: 0 10px;
            margin-bottom: 10px;
        }
    }
}
