@import "include/common";

.sight_reading_page {
    background: var(--body-background);
    &.fullscreen {
        width: 100%;
        height: 100%;

        .workspace {
            top: 0;
        }

        .workspace_header, .keyboard_toggle, .toolbar {
            display: none;
        }
    }

    .workspace_header{
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        > button {
            margin-right: 10px;
        }

        .stats {
            text-align: right;
            flex: 1
        }

        @include on_narrow_width {
            margin-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .stats {
            white-space: nowrap;
        }

    }

    .workspace_wrapper {
        flex: 1;
        max-width: var(--default-width);
        width: 100%;

        @include on_narrow_width {
            max-width: none;
        }
    }


    .toolbar {
        text-align: right;
        margin: 20px 0;

        @include on_narrow_width {
            padding: 0 20px;
            margin-bottom: 40px;
        }

        .left_tools {
            float: left;
        }

        .tool {
            display: inline-block;

            .label {
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
                font-size: 14px;
                opacity: 0.8;
            }

            @media (max-width: 500px) {
                .speed_picker {
                    display: flex;
                    margin-top: 10px;
                }
            }
        }
    }



    .toggle_switch {
        display: inline-block;
        vertical-align: middle;
        border: 2px solid #333;
        border-radius: 4px;
        background: #333;
        position: relative;
        font-weight: bold;
        font-size: 13px;
        cursor: pointer;
        @include unselectable;
        overflow: hidden;

        &:before {
            position: absolute;
            content: "";
            width: 50%;
            left: 0;
            top: 0;
            bottom: 0;
            background: var(--button-color);
            z-index: 1;
            border-radius: 2px;
            transition: 0.1s ease all;
            box-shadow: inset 0 0 0 1px rgba(white, 0.2);
        }

        &.second {
            &:before {
                left: 50%;
                right: 2px;
            }

            .toggle_option {
                &:nth-child(1) {
                    opacity: 0.5;
                }

                &:nth-child(2) {
                    opacity: 1;
                }

            }
        }

        .toggle_option {
            &:nth-child(2) {
                opacity: 0.5;
            }

            display: inline-block;
            position: relative;
            z-index: 2;
            width: 60px;
            color: white;
            text-align: center;
            padding: 4px 10px;
        }
    }

    .keyboard_toggle {
        position: absolute;
        z-index: 2;
        bottom: 10px;
        right: 10px;
    }
}
