@import "include/common";

.song_editor {
    min-height: 200px;
    padding: 20px;
    display: flex;

    .song_editor_tools {
        width: 25%;
        max-width: 350px;
        min-width: 220px;
        margin-left: 20px;
        flex-basis: 1;

        input[type='text'] {
            width: 100%;
            @include border_box;
        }
    }

    > textarea {
        flex-basis: 1;
        flex-grow: 1;
    }

    .form_tools {
        display: flex;
        align-items:  center;

        .select_component {
            height: 28px;
            padding: 0 10px;
            display: flex;
            box-sizing: border-box;
        }

        > * {
            margin-left: 5px;
        }

        > :first-child {
            margin-left: 0;
            flex: 1;
        }
    }
}


