@import "include/common";

.song_editor {
    min-height: 200px;
    padding: 20px;
    display: flex;

    .song_editor_tools {
        width: 20%;
        max-width: 300px;
        margin-left: 20px;
        flex-basis: 1;

        input[type='text'] {
            width: 100%;
            @include border_box;
        }
    }

    > textarea {
        flex-basis: 1;
        flex-grow: 1;
    }
}


