@import "include/common";

.grand_staff {
    .staff {
        &:first-child {
            margin-bottom: 70px;
        }
    }
}

.staff {
    position: relative;
    height: $line_spacing * 4;
    border-left: 6px solid black;
    margin: $line_spacing*2 0 $line_spacing*2 0;

    .cleff {
        z-index: 1;
        user-select: none;
        -webkit-user-drag: none;
    }

    &.g_staff {
        .cleff {
            position: absolute;
            left: 14px;
            height: 165%;
            top: -28%;
        }

        // .note {
        //     -webkit-filter: #{"invert()"} sepia() saturate(8000%) hue-rotate(20deg);
        // }
    }

    &.f_staff {
        .cleff {
            position: absolute;
            left: 8px;
            height: 82%;
        }

        // .note {
        //     -webkit-filter: #{"invert()"} sepia() saturate(8000%) hue-rotate(80deg);
        // }
    }

    .ledger_line {
        position: absolute;
        height: 2px;
        background: #666;
    }

    .lines {
        .line {
            height: 2px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: #666;
        }

        .line2 {
            top: percentage(1.0/4.0);
        }

        .line3 {
            top: percentage(2.0/4.0);
        }

        .line4 {
            top: percentage(3.0/4.0);
        }

        .line5 {
            top: auto;
            bottom: 0;
        }
    }

    .key_signature {
        position: absolute;
        left: 100px;
        top: 0;
        bottom: 0;

        .accidental {
            position: absolute;
            top: 0;

            &.sharp {
                height: 78%;
                transform: translate(0, -50%);
            }

            &.flat {
                height: 50%;
                transform: translate(-44%, -71%);
            }
        }
    }

    .staff_song_notes {
        .measure_line {
            width: 2px;
            position: absolute;
            background: #666;
            top: 0;
            bottom: 0;
            &[data-label] {
                &:before {
                    position: absolute;
                    content: attr(data-label);
                    font-size: 12px;
                    font-weight: bold;
                    bottom: 100%;
                    padding-bottom: 4px;
                    color: #888;
                }
            }
        }


        .note_bar {
            position: absolute;
            top: 0;
            left: 120px;
            height: 20%;
            transform: translate(0, -47%);

            &:before {
                content: "";
                position: absolute;
                top: 4px;
                right: 0;
                bottom: 4px;
                left: 0;

                background: green;
                box-shadow: 0 0 0 2px blue;
                border-radius: 12px;

            }

            &.is_sharp {
                &:before {
                    background: red;
                }
            }

            &.is_flat {
                &:before {
                    background: orange;
                }
            }

            &.is_natural {
                &:before {
                    background: purple;
                }
            }

            &.held {
                &:before {
                    background: lighten(green, 20%);
                }
            }

            &.outside_loop {
                &:before {
                    background: #bbb;
                    box-shadow: none;
                }
            }
        }

    }

    .staff_notes {
        position: absolute;
        top: 0;
        left: 120px;
        right: 0;
        bottom: 0;

        .annotation {
            background: gray;
            color: white;
            position: absolute;
            padding: 5px 10px;
            border-radius: 4px;
            font-size: 12px;
            font-weight: bold;
            opacity: 0.5;
            text-shadow: 0 1px 2px rgba(black, 0.5);
        }

        .accidental {
            height: 100%;
            position: absolute;
            right: 110%;

            &.sharp {
                height: 300%;
                top: -100%;
            }

            &.flat {
                height: 200%;
                top: -91%;
            }

            &.natural {
                height: 300%;
                top: -100%;
                right: 115%;
            }
        }

        .note {
            position: absolute;
            top: 0;
            left: 120px;
            height: 20%;
            transform: translate(0, -47%);
            transition: 0.1s ease transform;

            .primary {
                height: 100%;
            }

            &.group_offset {
                margin-left: 30px;
            }

            &.held {
                opacity: 0.2;
                transform: scale3d(1.1, 1.1, 1) translate(0, -47%);
            }
        }
    }

    .time_bar {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 2px;
        background: red;
        left: 120 + 100px;
    }

}


.chord_staff {
    padding: 40px 20px;

    .chord_scrolling {
        white-space: nowrap;
    }

    .chord {
        font-size: 30px;
        font-weight: bold;
        width: 160px;
        display: inline-flex;
        align-items: center;
    }

    .touched {
        margin-left: 5px;
        font-weight: normal;
        display: flex;
        height: 35px;
        align-items: center;

        .right {
            color: $green;
        }

        .wrong {
            color: $red;
        }

    }
}
