@import "include/common";

.stats_lightbox {
    --note-column-width: 40px;

    .note_bars_container, .note_timings_container {
        margin: 30px 0;
        position: relative;
    }

    .timing_legend {
        color: #999;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        margin-left: var(--note-column-width);
        line-height: 24px;
    }

    .line_container {
        margin-left: var(--note-column-width);
        position: absolute;
        top: 24px;
        right: 0;
        bottom: 0;
        left: 0;

        .average_line {
            position: absolute;
            top: 0;
            left: 50%;
            width: 2px;
            background: rgba(white, 0.8);
            z-index: 1;
            bottom: 0;
        }
    }


    .note_timing_row {
        line-height: 24px;
        margin-bottom: 10px;
        display: flex;

        &:last-child {
            margin-bottom: 0;
        }

        .note_name {
            display: inline-block;
            font-weight: bold;
            text-align: center;
            width: var(--note-column-width);
        }

        .note_timing {
            flex: 1;
            position: relative;
            background: color-mix(in srgb, var(--blue), transparent 50%);

            .timing_progress {
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: var(--blue);
            }

            .timing_label {
                position: absolute;
                color: white;
                top: 0;
                left: 10px;
            }
        }
    }

    .note_stat_row {
        line-height: 24px;
        display: flex;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        .note_name {
            text-align: center;
            width: var(--note-column-width);
            font-weight: bold;
        }

        .note_rates {
            flex: 1;
            display: flex;
            height: 100%;
        }

        .hit_bar, .miss_bar {
            height: 100%;
            box-sizing: border-box;
            padding: 0 8px;
            font-weight: bold;
            color: white;
            box-shadow: 0 0 0 4px white;
        }

        .hit_bar {
            background: color-mix(in oklab, var(--green), black 8%);
        }

        .miss_bar {
            background: var(--red);
            text-align: right;
        }
    }
}
